<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="/stylesheets/index.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="shortcut icon" href="//cdn2.auth0.com/styleguide/latest/lib/logos/img/favicon.png">
    <title>Expat$</title>
  </head>
  <!-- example http://127.0.0.1:5500/FrontEnd/html/signin.html? -->
  <body class="text-center">
    <form class="form-signin">
      <img
        class="mb-4"
        src="/images/expat_full_logo.png"
        alt=""
        width="300"
        height="75"
      />
      <h1 class="h3 mb-3 font-weight-normal">Please Log in with Auth0</h1>
        <button type="button" class="btn btn-outline-primary me-2" id="btn-login" onclick="window.location.href='/login'">Log in</button>
        <!-- Sign in with Auth0
      </button> -->
      <p class="mt-5 mb-3 text-muted">© 2021 Expat$, Inc</p>
    </form>
    <!-- Script for Bootstrap placed at the end of the body -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>